<h1><%= h(@restaurant.name) %></h1>

<div class="address">
  <%= h(@restaurant.address_street) %><br/>
  <% unless @restaurant.address_street2.blank? %>
    <%= h(@restaurant.address_street2) %><br/>
  <% end %>
  <%= h(@restaurant.address_city) %>, <%= h(@restaurant.address_state) %>
  <%= h(@restaurant.address_zip) %>
</div>

<% @restaurant.menu_items.each do |menu_item| %>
  <div class="menu_item"><%= menu_item.name %></div>
<% end %>

<%= link_to "Add a menu item", new_restaurant_menu_item_path(@restaurant) %>
